{% extends "base.html" %}
{% set active_page = "login" %}
{% block title %}Eclectic{% endblock %}

{% block scripts %}{% endblock %}

{% block css %}{% endblock %}

{% block navbar %}
{% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
<br>
<div class="eclectic-back-container">
<a href="/login/" class="eclectic-back-btn"><i class="fas fa-angle-left"></i> Back</a>
</div>

<div class="container">
    <div class="login-header">
        <h2 style="margin-bottom: 0px; font-size: 0.8em;">Forget Password</h2>
    </div>
    <div class="login-card">
      <form action="" method="post" id="eclectic-forget-form">
        {{ form.hidden_tag() }}
      <div class="forget-password-card">
        <label>Email : </label>
        <input type="text" name="email" placeholder="Email" value="" required>
      </div>
        <input class="btn btn-primary" type="submit" name="submit_btn" value="Reset Password">
      </form>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
