{% extends "base.html" %}
{% block title %}Eclectic Change Password {% endblock %}
{% set active_page = "settings" %}
{% block scripts %}
  <script src="{{ url_for('static' , filename='js/account_settings.js') }}"></script>
{% endblock %}

{% block css %}{% endblock %}

{% block navbar %}
<!-- Logic to check logged in user and display relevant dashboard-->
    {% if staff %}
        {% include "pages/staff_dashboard.html" %}
    {% else %}
        {% include "pages/customer_dashboard.html" %}
    {% endif %}
{% endblock %}

{% block content %}
<div class="main">
    <br>
    <div class="eclectic-back-container">
        <a href="/dashboard/account/" class="eclectic-back-btn"><i class="fas fa-angle-left"></i> Back</a>
    </div>
    <br>
  <form method="post" action="" id="eclectic-password-change">
    <div class="account-settings-container change-address">
      {{ form.hidden_tag() }}
        <h2 class="text-center">Change Password</h2>
        <hr>
        <p><span class="detail-label">{{ form.c_pass.label }}</span><br>{{ form.c_pass(id="eclectic-c-pass") }}</p><br>
        <p><span class="detail-label">{{ form.n_pass.label }}</span><br>{{ form.n_pass(id="eclectic-n-pass") }}</p><br>
        <p><span class="detail-label">{{ form.nc_pass.label }}</span><br> {{ form.nc_pass(id="eclectic-nc-pass") }}</p><br>
        <br>
        {{ form.submit_btn() }}
    </div>
  </form>
</div>
{% endblock %}
